@import url('https://fonts.googleapis.com/css?family=Rubik');

footer {
	margin-top: 50px;
}

h1, p {
	font-family: 'Rubik', sans-serif;
}

h1 {
	font-size: 48pt;
}

header {
	padding: 20px 0px;
}

.encrypt-containers {
	border: 3px solid #CCC;
	padding: 20px;
	border-radius: 2px;
}

textarea {
	border: 1px solid #CCC;
	background-color: #EFEFEF;
	padding: 5px;
	border-radius: 1px;
	width: 100%;
}

.password {
	padding: 5px;
	border-radius: 1px;
	border: 1px solid #CCC;
	font-family: 'Rubik', sans-serif;
	font-size: 18pt;
	width: 100%;
	margin-top: 15px;
}

#submit-button {
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	font-size: 12pt;
	width: 100%;
	margin-top: 15px;
}