@import url('https://fonts.googleapis.com/css?family=Rubik');

header {
	padding: 20px 0px;
}

h1, p {
	font-family: 'Rubik', sans-serif;
}

h1 {
	font-size: 48pt;
}

#header-subtext {
	margin-top: -20px;
	color: #9d9e9c;
}

textarea {
	border: 1px solid #CCC;
	background-color: #000;
	color: #00fd0a;
	padding: 5px;
	border-radius: 1px;
	width: 100%;
}

#cipher-textarea {
	display: none;
}

.password {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	font-family: 'Rubik', sans-serif;
	font-size: 16pt;
	width: 100%;
	margin-top: 15px;
	background-color: #EFEFEF;
}

#encrypt-button, #decrypt-button {
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	font-size: 12pt;
	width: 100%;
	margin-top: 15px;
}

.button-link {
	border: 0px;
}

#shorturl {
	padding: 5px;
	font-family: 'Rubik', sans-serif;
	font-size: 14pt;
	background-color: #EEE;
	margin: 10px 0px;
}

#expiry-date {
	margin-top: 10px;
}

footer {
	margin-top: 50px;
}

footer > div > p {
	padding-top: 10px;
	border-top: 1px solid #EEE;
}