@import url('https://fonts.googleapis.com/css?family=Rubik');

footer {
	margin-top: 50px;
}

h1, p {
	font-family: 'Rubik', sans-serif;
}

h1 { 
  font-size: 48pt; 
  margin-bottom: 50px;
}

.greycontainer { 
  border: 3px solid #f7f7f9;
  padding: 20px; 
  border-radius: 2px; 
}

textarea { 
  border: 1px solid #000;
  background-color: #EFEFEF;
  padding: 5px; 
  border-radius: 1px;
  width: 100%; 
}

.password { 
  padding: 5px; 
  border-radius: 1px;
  width: 300px; 
  border: 1px solid #AAA;
  font-family: 'Rubik', sans-serif; 
}