@{
    ViewData["Title"] = "Home Page";
}

<h4>This stuff goes in the FAQ:</h4>
<p>
	Encrypt your text for a short period of time with the password you provide. The text can only be decrypted using this password, the passwords are never stored.
</p>

<p>
	Hitting encrypt will provide you with a url, where you can decrypt you top secret text at any time. This will expire after one hour and the text is deleted
</p>