@{
	ViewData["Title"] = "FAQ";
}

<h4>FAQ</h4>

<h3>How big can pastes be?</h3>
<p></p>

<h3>What encryption is used?</h3>
<p></p>

<h3>How long do pastes last?</h3>
<p></p>

<h3>Where are pastes stored? Are they private?</h3>
<p></p>

<h3>Is the password stored in the database?</h3>
<p></p>

<h3>Is the IV stored in the database?</h3>
<p></p>

<h3>How do I delete my paste?</h3>
<p></p>