@model Dictionary<int, string>
@{
	ViewData["Title"] = "Home Page";
}

@foreach (var errors in ViewData.ModelState.Values.Where(x => x.Errors.Count > 0))
{
	<p>
		@errors.Errors.FirstOrDefault().ErrorMessage
	</p>
}

<div class="row">
	<div class="col-md-12">
		<p>
			Enter the text you want to encrypt, and create a password to encrypt it with.
		</p>

		<form method="post" action="/Store" id="encrypt-form">
			<input type="hidden" id="cipherJson" name="cipherJson" />
			<textarea name="text" id="text-textarea" rows="10" placeholder="Enter some text to encrypt"></textarea>

			<div class="form-inline row">
				<div class="form-group col-md-6">
					<input name="password" id="password-input" class="password" type="password" placeholder="Create a password" />
				</div>
				<div class="form-group col-md-3">
					@Html.DropDownList("expiryTime", Model.Select(x => new SelectListItem() { Value = x.Key.ToString(), Text = "Expire in " + x.Value }), new { @class = "mydropdown", placeholder = "hello" })
				</div>
				<div class="form-group col-md-3">
					<input type="submit" id="encrypt-button" class="btn btn-success" value="Encrypt" />
				</div>
			</div>
		</form>
	</div>
</div>

@section scripts
{
	<script>
		new IndexView(jQuery, window);
	</script>
}