@model EncryptedItemViewModel
@{
	ViewData["Title"] = "Load";
}

@if (Model == null)
{
	foreach (var errors in ViewData.ModelState.Values.Where(x => x.Errors.Count > 0))
	{
		<p>
			@errors.Errors.FirstOrDefault().ErrorMessage
		</p>
	}
}
else
{
	<div class="row">
		<div class="col-md-10">
			<p>
				Enter the password you created to decrypt the text.
			</p>
		</div>
		<div class="col-md-2">
			<a class="pull-right">Delete</a>
		</div>
	</div>
	<form id="decrypt-form">
		<input type="hidden" id="cipherJson" value="@Model.CipherJson" />
		<textarea id="cipher-textarea" rows="10" placeholder="The decrypted text will appear here" readonly></textarea>

		<div class="row">
			<div class="col-md-10">
				<input name="password" id="password-input" class="password" type="password" placeholder="Enter your password" />
			</div>
			<div class="col-md-2">
				<input type="button" id="decrypt-button" class="btn btn-success" value="Decrypt" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div id="expiry-date" class="label label-info pull-left"></div>
			</div>
		</div>
	</form>

	@section scripts
	{
		<script>
			new LoadView(jQuery, "@Model.ExpiryDate.ToString("yyyy-MM-dd HH:mm:ss")");
		</script>
	}
}
