@model EncryptedItemViewModel
@{
	ViewData["Title"] = "Load";
}

@if (Model == null)
{
	foreach (var errors in ViewData.ModelState.Values.Where(x => x.Errors.Count > 0))
	{
		<p>
			@errors.Errors.FirstOrDefault().ErrorMessage
		</p>
	}
}
else
{
	<p>
		Enter the password you created to decrypt the text.
	</p>

	<form id="decrypt-form">
		<input type="hidden" id="cipherJson" value="@Model.CipherJson" />
		<textarea id="cipher-textarea" rows="10" placeholder="The decrypted text will appear here" readonly></textarea>

		<div class="row">
			<div class="col-md-10">
				<input name="password" id="password-input" class="password" type="password" placeholder="Enter your password" />
			</div>
			<div class="col-md-2">
				<input type="button" id="decrypt-button" class="btn btn-success" value="Decrypt" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div id="expiry-date" class="label label-info pull-left"></div>
			</div>
		</div>
	</form>

	@section scripts
	{
		<script>
			$(document).ready(function () {
				$("#password-input").focus();

				$("#decrypt-form").submit(function () {
					return false;
				});

				$("#decrypt-button").click(function () {
					var cipherJson = $("#cipherJson").val();
					var password = $("#password-input").val();

					try {
						var text = window.sjcl.decrypt(password, cipherJson);
						$("#cipher-textarea").val(text);

						$("#expiry-date").show();
						$("#expiry-date")
							.on("finish.countdown", function () {
								document.location.reload();
							})
							.countdown("@Model.ExpiryDate.ToString("yyyy-MM-dd HH:mm:ss")", function (event) {
						  	$(this).text(
							  event.strftime('Expires in %D days %H hours %M mins %S secs')
							);
						  });

						$.toast({
							heading: "Success",
							text: "Your note was decrypted.",
							icon: "success",
							showHideTransition: "fade",
							allowToastClose: true,
							hideAfter: 2000,
							stack: 5,
							position: "top-center",
							textAlign: "left",
							loader: false
						});
					}
					catch (err) {
						$.toast({
							heading: "Failure",
							text: "Unable to decrypt the note.",
							icon: "error",
							showHideTransition: "fade",
							allowToastClose: true,
							hideAfter: 2000,
							stack: 5,
							position: "top-center",
							textAlign: "left",
							loader: false
						});

						console.log(err);
					}
				});
			});
		</script>
	}
}