@model EncryptedItemViewModel
@{
	ViewData["Title"] = "Done";
}

<div class="row">
	<div class="col-md-12">
		<h2>Your text was encrypted</h2>
		<h5>You can access it using the url below. It will expire in @ViewData["ExpiresInHours"] hour(s).</h5>
		<div class="col-md-6" id="shorturl">
			<a href="/@Model.FriendlyId">http://@ViewData["BaseUrl"]/@Model.FriendlyId</a>
			<a id="copy-link" href="javascript:;" data-clipboard-text="http://@ViewData["BaseUrl"]/@Model.FriendlyId">
				<img src="~/images/copy.png" width="24" height="24" />
			</a>
		</div>
	</div>
</div>

@section scripts
{
	<script>
		var clipboard = new Clipboard("#copy-link");
		clipboard.on("success", function (e) {
			$.toast({
				text: "Copied to clipboard",
				heading: "Success",
				icon: "information",
				showHideTransition: "fade",
				allowToastClose: true,
				hideAfter: 2000,
				stack: 5,
				position: "top-center",
				textAlign: "left",
				loader: false
			});
		});
	</script>
}