<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><configtext key="PAGE_TITLE" /></title>

	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/jquery.toast.css" rel="stylesheet" />
	<environment names="Development">
		<script src="~/js/prod/letmein.min.js"></script>	
	</environment>
	<environment names="Production" >
		<script src="~/js/prod/letmein.@(ViewData["Version"])min.js"></script>
	</environment>
</head>
<body>
	<div class="container">
		<header class="row">
			<div class="col-md-2">
				<a href="~/"><img src="/images/favicon.png" height="128" width="128"></a>
			</div>
			<div class="col-md-10">
				<h1><configtext key="HEADER_TEXT" /></h1>
				<p id="header-subtext"><configtext key="HEADER_SUBTEXT" /></p>
			</div>
		</header>
		@RenderBody()

		<footer class="row">
			<div class="col-md-8">
				<p class="pull-left">
					<configtext key="FOOTER_TEXT" />
				</p>
			</div>
			<div class="col-md-4">
				<p class="pull-left">
					v.@(ViewData["Version"])
				</p>
			</div>
		</footer>
	</div>
	@RenderSection("scripts", false)
</body>
</html>
