@{
    ViewData["Title"] = "Error";
}

<div class="panel panel-danger">
	<div class="panel-heading">
		<b>Something went a bit wrong.</b>
	</div>
	
	<div class="panel-body">
		@foreach (var errors in ViewData.ModelState.Values.Where(x => x.Errors.Count > 0))
		{
			<p>
				@errors.Errors.FirstOrDefault().ErrorMessage
			</p>
		}
	</div>
</div>